In [9]:
import pandas as pd

In [10]:
dispach = pd.read_excel('DispachEnero.xlsx')
dispach.head()

,ord_number,origin_cmp_id,origin_cmp_name,dest_cmp_id,dest_cmp_name,orderby_cmp_id,orderby_cmp_name,orderby_cty_nmstct,billto_cmp_id,billto_cmp_name,...,lgh_204status,lgh_204date,ord_broker,shipper_radius,consignee_radius,carrier_pay,paydetail_lgh,paydetail_acc,paydetail_fuel,paydetail_tot
0,1334253,CDTLIVTL,BOD LIVERPOOL TULTITLAN,LVTACUBA,BODEGA LIVERPOOL TACUBAYA,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1,1333689,PRODEL08,PROCTER VALLEJO,PROCUA09,PROCTER GAMBLE MANUFACTURA,PGMEXICO,PROCTER & GAMBLE MANUFACTURING MEXICO,"HUIXQUILUCAN,EM",PGMEXICO,PROCTER & GAMBLE MANUFACTURING MEXICO,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
2,1334241,CDTLIVTL,BOD LIVERPOOL TULTITLAN,BODCUA03,BODEGA LIVERPOOL CUAUTITLAN,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
3,1334242,CDTLIVTL,BOD LIVERPOOL TULTITLAN,LIVPLAN,PLAN LIVERPOOL (PLATAFORMA LOGÍSTICA ARCO NORT...,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,1334243,CDTLIVTL,BOD LIVERPOOL TULTITLAN,BODCUA03,BODEGA LIVERPOOL CUAUTITLAN,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

In [11]:
#vamos a hacer una lista con las columnas relevantes para eliminar todas las demas 

columnas = ['ord_number', 'billto_cmp_id','ord_startdate', 'ord_completiondate','ord_revtype4', 'origin_cty_nmstct','dest_cyt_nmstct','ord_tractor','ord_totalmiles']

dispach = dispach[columnas]

#Cambniamos el nombre de las columnas 
dispach.columns = ['Numero de orden', 'Cliente que paga', 'Fecha de inicio', 'Fecha de finalizacion', 'Equipo colaborativo', 'Municipo origen', 'Municipo destino', '# de Tractor', 'Millas totales']

dispach.head()

,Numero de orden,Cliente que paga,Fecha de inicio,Fecha de finalizacion,Equipo colaborativo,Municipo origen,Municipo destino,# de Tractor,Millas totales
0,1334253,LIVERDED,2024-01-01 01:00:00,2024-01-01 01:36:00,DED,"TULTITLAN,EM","DELEG. ALVARO OBRE,DF/MEX",1636,70
1,1333689,PGMEXICO,2024-01-01 02:00:00,2024-01-01 03:00:00,EC1,"DELEG.AZCAPOTZALCO,CDMX","CUAUTITLAN IZCALLI,EM",1726,19
2,1334241,LIVERDED,2024-01-01 04:45:00,2024-01-01 05:31:00,DED,"TULTITLAN,EM","CUAUTITLAN,EM/",1636,36
3,1334242,LIVERDED,2024-01-01 05:00:00,2024-01-01 05:46:00,DED,"TULTITLAN,EM","JILOTEPEC,EM",1636,148
4,1334243,LIVERDED,2024-01-01 05:15:00,2024-01-01 06:01:00,DED,"TULTITLAN,EM","CUAUTITLAN,EM/",1837,36